alertmanager:
  enabled: true
  config:
    global:
      smtp_smarthost: "smtp.gmail.com:587"
    route:
      receiver: "email"
      group_by: ["alertname", "job"]
      group_wait: 10s
      group_interval: 5m
      repeat_interval: 4h
    receivers:
      - name: "null"
      - name: "email"
        email_configs:
          - send_resolved: true
            headers:
              Subject: "Prometheus Alert"

  ingress:
    enabled: true
    ingressClassName: nginx
    paths:
      - /alerts
  alertmanagerSpec:
    routePrefix: /alerts

grafana:
  namespaceOverride: default
  adminPassword: teamsol
  grafana.ini:
    server:
      serve_from_sub_path: "true"
      root_url: "%(protocol)s://%(domain)s:/grafana/" # this lets Kubernetes auto set root_url value
    smtp:
      enabled: true
      host: "smtp.gmail.com:587"
      skip_verify: false
      from_name: "Grafana"
  ingress:
    enabled: true
    path: /grafana
    ingressClassName: nginx
  additionalDataSources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-kube-prometheus-prometheus.default:9090
    - name: Loki
      type: loki
      url: http://loki:3100

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false
