apiVersion: v1
kind: Secret
metadata:
  name: planetarium-secret
type: Opaque
data:
  SPRING_DATASOURCE_URL: echo -n "url" | base64
  SPRING_DATASOURCE_USERNAME: echo -n "username" | base64
  SPRING_DATASOURCE_PASSWORD: echo -n "password" | base64
